* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    height: 400px; /* Высота контейнера */
}

.header {
    background-color: #00bfff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex: 0 0 50px;
}

.content {
    display: flex;
    flex: 1;
}

.left-sidebar, .main-content, .right-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.left-sidebar {
    background-color: #ff4500;
    flex: 0 0 400px; /* Увеличение ширины левой боковой панели */
}

.main-content {
    background-color: #32cd32;
    flex: 1;
}

.right-sidebar {
    background-color: #ffd700;
    flex: 0 0 400px; /* Увеличение ширины правой боковой панели */
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #8a2be2;
    padding: 10px;
    flex: 0 0 50px;
}

.footer div {
    background-color: #ff7f50;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    flex: 1;
    text-align: center;
    margin: 0 10px;
}